.body {
  width: 100vw;
  height: 100vh;
}

.header-grand-parent {
  color: red;

  .header-parent {
    color: orange;

    .header-child {
      color: yellow;
    }
  }
}

.button {
  color: cadetblue;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }

  &.isLoading {
    color: green;
  }

  & + button2 {
    margin-top: 10px;
  }
}

.hello {
  & span {
    color: blue;
  }

  &span {
    color: green;
  }

  &.span {
    color: palegreen;
  }
}

// 변수 선언
$width: 100%;
$font: "Noto Sans KR";
$color: #000;
$darkMode: true;
$init: null;

.variable {
  background-color: azure;
  width: $width;
  color: $color;
}

// 보간
$position: bottom;
$name: img;
$height: 200px;

.linear {
  position: fixed;
  #{$position}: 100px;
  background-image: url("./image/#{$name}.jpeg");
  width: calc(100vh - #{$height});
  height: $height;
}

$color-accent: #0080ff;

:root {
  --color-accent: #{$color-accent};
  --color-accent-100: #{rgba($color-accent, 0.07)};
  --color-accent-200: #{rgba($color-accent, 0.2)};
  --color-accent-300: #{rgba($color-accent, 0.4)};
}

.linear1 {
  color: var(--color-accent-100);
}

.linear2 {
  color: var(--color-accent-200);
}

.linear3 {
  color: var(--color-accent-300);
}

.annotation {
  // 요로코롬 우리끼리만 볼 수 있는 비밀스러운 주석이 가능!
  color: blue;
}
